{% extends "base.html" %}

{% block title %}Welcome - SCM Pro{% endblock %}

{% block content %}
<div class="px-4 py-5 my-5 text-center">
    <i class="bi bi-box-seam-fill display-1 text-primary mb-4"></i>
    <h1 class="display-5 fw-bold">Supply Chain Management Pro</h1>
    <div class="col-lg-6 mx-auto">
        <p class="lead mb-4">Efficiently manage your suppliers, products, inventory, and orders with SCM Pro. Streamline your operations and gain valuable insights into your supply chain.</p>
        <div class="d-grid gap-2 d-sm-flex justify-content-sm-center">
            <a href="{{ url_for("frontend.view_dashboard") }}" class="btn btn-primary btn-lg px-4 gap-3">Go to Dashboard <i class="bi bi-arrow-right-circle-fill ms-1"></i></a>
            <a href="{{ url_for("frontend.view_dashboard") }}" class="btn btn-outline-secondary btn-lg px-4">Explore Features</a>
        </div>
    </div>
</div>
{% endblock %}

